{% extends "base.html.twig" %}


{% block title %} {{nom}} {% endblock %}

{% block contenu %}

<div class="row ">
    <div class="col-6">
        <h2>Information: </h2>
        <div>Auteur: </div>
        <div>Nombre de page:</div>
        <img src="https://picsum.photos/200/200" alt="">
    </div>
    <div class="col-6">
        <h2>Résumer: </h2>
        <div>
           <div class="20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa iusto autem aliquam eos officiis quisquam quas modi? Eveniet officiis ad quam aspernatur perferendis? Numquam, provident distinctio molestias fugiat laborum facilis?</div>
        </div>
    </div>
</div>



{% endblock %}